---
#
# Backup Cisco Nexus devices.
#
- name: Cisco-Nexus-backup
  hosts: nxos
  connection: network_cli
  gather_facts: no

  roles:
    - nxos
    - backup

#
# Backup Cisco IOS devices.
#
- name: Cisco-IOS-backup
  hosts: ios
  connection: network_cli
  gather_facts: no

  roles:
     - ios
     - backup

#
# Backup PanOS devices.
#
- name: Panos-backup
  hosts: panos
  connection: local
  gather_facts: no

  roles:
    - panos
    - backup

#
# Backup FortiOS devices.
#
- name: Fortios-backup
  hosts: fortios
  connection: local
  gather_facts: no

  roles:
    - fortios
    - backup

#
# Backup Juniper Junos (SRX) devices.
#
- name: Juniper-backup
  hosts: srx
  connection: local
  gather_facts: no

  roles:
     - juniper
     - backup

#
# Backup HP Comware devices.
#
- name: HP-backup
  hosts: hp
  connection: ssh
  gather_facts: no

  roles:
     - hp_comware
     - backup

#
# Backup ArubaOS devices.
#
- name: Aruba-backup
  hosts: aruba
  connection: local
  gather_facts: no

  roles:
     - aruba
     - backup

#
# Backup dellos9 devices.
#
- name: DellOS9-backup
  hosts: dellos9
  connection: local
  gather_facts: no

  roles:
     - dellos9
     - backup

#
# Backup ONYX Mellanox devices.
#
- name: Mellanox-backup
  hosts: mellanox
  connection: network_cli
  gather_facts: no

  roles:
     - mellanox
     - backup

#
# Backup Cisco ASA devices.
#
- name: ASA-backup
  hosts: cisco_asa
  connection: network_cli
  become: yes
  gather_facts: no

  roles:
    - cisco_asa
    - backup

# Store configuration backups on remote linux machine.
# Role remote_backup works with items from hosts group [backup].
# Remote backup server is in group [bak].
- name: Remote-backup
 hosts: bak
 connection: ssh
 gather_facts: no

 roles:
    - remote_backup
