---
#
# Backup Cisco Nexus devices.
#
- name: Cisco-backup
  hosts: nxos
  connection: network_cli
  gather_facts: no

  roles:
    - cisco
    - backup

#
# Backup Juniper Junos (SRX) devices.
#
- name: Juniper-backup
  hosts: srx
  connection: local
  gather_facts: no

  roles:
     - juniper
     - backup

#
# Store configuration backups on remote linux machine.
# Role remote_backup works with items from hosts group [backup].
# Remote backup server is in group [bak].
#
- name: Remote-backup
  hosts: bak
  connection: ssh
  gather_facts: no

  roles:
     - remote_backup
